$principalOrange: #F39200;
$colorSecondary: #146560;
$greenSecondary: #85B9B5;
$topInfo: #D38407;


// top info //

.topinfo{
    height: 60px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $topInfo;
    color: #fff;
    font-family: 'Roboto', sans-serif;
        i{
            font-size: 27px;
            padding: 0 10px;
        }
        p{
            font-size: 1em;
            margin: 0;
        }
        a{
            text-decoration: none;
            color: #fff;
            font-weight: bold;
            display: inline-block;
        }
}


.topinfo a::after{
    content: "";
    display: block;
    position: relative;
    width: 0%;
    height: .1em;
    background: #00bebe;
    transition: width 0.5s ease-in-out;
}
.topinfo :hover::after{
    width: 100%;
}

// =========== Background ============== //

.background{
    background: url("img/header-background.png") center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 100vh;
}

// ====================================== //

@media screen and (min-width: 992px){
.navbar-secondary{
    display: flex;
    justify-content: end;
    margin-right: 50px;
    div{
        font-weight: 500;
        display: flex;
        margin: 0 5px;
        padding: 3px 10px 3px 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }   
        .search-secondary{
            align-items: center;
            background: $colorSecondary;
            :hover{
                cursor: pointer;
            }
        }
        .meteo{
            align-items: center;
            background: #fff;
            color: $colorSecondary;
            img{
                margin-left: 5px;
            }
        }
        .opening-information{
            align-items: center;
            background: $greenSecondary;
            color: $colorSecondary;
        }
        .account-profile{
            align-items: center;
            background: #fff;
        }
}
}

@media screen and (max-width: 992px){
    .navbar-secondary{
        display: none;
        justify-content: end;
        margin-right: 50px;
        div{
            font-weight: 500;
            display: flex;
            margin: 0 5px;
            padding: 3px 10px 3px 10px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
        }   
            .search-secondary{
                align-items: center;
                background: $colorSecondary;
                :hover{
                    cursor: pointer;
                }
            }
            .meteo{
                align-items: center;
                background: #fff;
                color: $colorSecondary;
                img{
                    margin-left: 5px;
                }
            }
            .opening-information{
                align-items: center;
                background: $greenSecondary;
                color: $colorSecondary;
            }
            .account-profile{
                align-items: center;
                background: #fff;
            }
    }
    }

// ======= Principale nav ============== //

.principal-nav{
    margin: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
        .navbar{
            ul{
                display: flex;
                li{
                   padding: 35px 0 0 20px;
                }
                a{
                    padding: 5px 0;
                    font-size: 17px;
                    font-weight: bold;
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
}

.billeterie{
    display: flex;
    justify-content: center;
    align-items: center;
    background: $principalOrange;
    border-radius: 10px;
    margin-left: 35px;
    .billeterie-element{
        padding: 10px;
    }
    a{
        color: white;
        font-size: 17px;
        font-weight: 500;
        letter-spacing: 0.1em;
        text-decoration: none;
        padding: 10px 8px;
    }
}

.billeterie:hover{
    background: #f39200de;
    transition: 0.8s;
}

// ====== article header ================ //

